*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

html{
    height: 100vb;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.qr-code-div{
    padding: 15px;
    border-radius: 5px;
    width: 470px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    transition: 0.3s;
}

.qr-code-div input{
    margin-top: 5px;
}
.qr-code-div input[type="text"]{
    height: 45px;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.qr-code-div input[type="button"]{
    height: 40px;
    width: 300px;
    background-color: #94bbe9;
    border-radius: 6px;
    border: none;
    border: 0.5px solid rgb(92, 90, 90);
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.4s;
}

.qr-code-div input[type="button"]:hover{

    background-color: #3d8be4;
    
}

#qr-code{
    width: 0px;
    height: 0px;
    opacity: 0;
}


/*QR CODE*/


.qr-code-div.active {
    display: flex;
    justify-content: start;
    height: 500px;
}

.qr-code-div.active #qr-code{
    margin-top: 30px;
    padding: 100px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.2px solid black;
    opacity: 1;
}